/*
 * table css from https://codepen.io/cshaw/pen/pyjbXe
 */
table {
  border-collapse: collapse;
}
 th {
  background: #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  width: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}

div.explain {
  padding: 20px;
  width:90%;
}

div.manyNumbers {
  padding: 20px;
  width:90%;
  overflow: auto;
  font-size: 20px;
}

.values .previous {
  color: blue;
}
.values .seqvalue {
  color: green;
}

.steps .previous {
  color: #eeeeee;
  background-color: rgb(200,200,200)!important;
}

.steps .seqvalue {
  color: green;
}

.seq0 {
  background-color: rgb(200,155,155); 
}
.seq1 {
  background-color: rgb(200, 173, 155); 
}
.seq2 {
  background-color: rgb(200,200,155); 
}
.seq3 {
  background-color: rgb(155,200,155); 
}
.seq4 {
  background-color: rgb(155,200,200); 
}
.seq5 {
  background-color: rgb(155,155,200); 
}
.button-box {
  padding: 10px;
  marging: 10px;
  text-align: center;
}
button, input {
  padding: 10px;
  marging: 10px;
}
